@use "sass:color";
@use "sass:map";

$_light-colors: (
        primary: #0d6efd,
        secondary: #777777,
        info: #37d,
        success: #295,
        warning: #eb0,
        danger: #d12,
);

$_dark-colors: (
        primary: #5c9bff,
        secondary: #9a9a9a,
        info: #55aaff,
        success: #33cc77,
        warning: #ffcc00,
        danger: #ff4455,
);

@mixin color-vars($colors, $inverse: false) {
  @each $name, $value in $colors {
    --#{$name}: #{$value};
  }

  @each $name in info, success, warning, danger {
    $value: map.get($colors, $name);
    @each $step in 20, 40, 60 {
      --#{$name}-darker-#{$step}: #{color.scale($value, $lightness: -$step * 1%)};
      --#{$name}-lighter-#{$step}: #{color.scale($value, $lightness: $step * 1%)};
    }
  }

  @each $name in primary, secondary {
    $value: map.get($colors, $name);
    @each $step in 10, 20, 30, 40, 50, 60, 70, 80, 90 {
      $d: if($inverse, $step * 1%, -$step * 1%);
      $l: if($inverse, -$step * 1%, $step * 1%);
      --#{$name}-darker-#{$step}: #{color.scale($value, $lightness: $d)};
      --#{$name}-lighter-#{$step}: #{color.scale($value, $lightness: $l)};
    }
  }
}

:root {
  @include color-vars($_light-colors);
}

@media (prefers-color-scheme: dark) {
  :root {
    @include color-vars($_dark-colors, $inverse: true);
  }
}

[data-theme="dark"] {
  @include color-vars($_dark-colors, $inverse: true);
}

[data-theme="light"] {
  @include color-vars($_light-colors);
}
