$primary: var(--primary);
$secondary: var(--secondary);

$info: var(--info);
$success: var(--success);
$warning: var(--warning);
$danger: var(--danger);

$info-darker-20: var(--info-darker-20);
$info-darker-40: var(--info-darker-40);
$info-darker-60: var(--info-darker-60);
$info-lighter-20: var(--info-lighter-20);
$info-lighter-40: var(--info-lighter-40);
$info-lighter-60: var(--info-lighter-60);

$success-darker-20: var(--success-darker-20);
$success-darker-40: var(--success-darker-40);
$success-darker-60: var(--success-darker-60);
$success-lighter-20: var(--success-lighter-20);
$success-lighter-20: var(--success-lighter-20);
$success-lighter-20: var(--success-lighter-20);

$warning-darker-20: var(--warning-darker-20);
$warning-darker-40: var(--warning-darker-40);
$warning-darker-60: var(--warning-darker-60);
$warning-lighter-20: var(--warning-lighter-20);
$warning-lighter-40: var(--warning-lighter-40);
$warning-lighter-60: var(--warning-lighter-60);

$danger-darker-20: var(--danger-darker-20);
$danger-darker-40: var(--danger-darker-40);
$danger-darker-60: var(--danger-darker-60);
$danger-lighter-20: var(--danger-lighter-20);
$danger-lighter-40: var(--danger-lighter-40);
$danger-lighter-60: var(--danger-lighter-60);

$primary-darker-10: var(--primary-darker-10);
$primary-darker-20: var(--primary-darker-20);
$primary-darker-30: var(--primary-darker-30);
$primary-darker-40: var(--primary-darker-40);
$primary-darker-50: var(--primary-darker-50);
$primary-darker-60: var(--primary-darker-60);
$primary-darker-70: var(--primary-darker-70);
$primary-darker-80: var(--primary-darker-80);
$primary-darker-90: var(--primary-darker-90);
$primary-lighter-10: var(--primary-lighter-10);
$primary-lighter-20: var(--primary-lighter-20);
$primary-lighter-30: var(--primary-lighter-30);
$primary-lighter-40: var(--primary-lighter-40);
$primary-lighter-50: var(--primary-lighter-50);
$primary-lighter-60: var(--primary-lighter-60);
$primary-lighter-70: var(--primary-lighter-70);
$primary-lighter-80: var(--primary-lighter-80);
$primary-lighter-90: var(--primary-lighter-90);

$secondary-darker-10: var(--secondary-darker-10);
$secondary-darker-20: var(--secondary-darker-20);
$secondary-darker-30: var(--secondary-darker-30);
$secondary-darker-40: var(--secondary-darker-40);
$secondary-darker-50: var(--secondary-darker-50);
$secondary-darker-60: var(--secondary-darker-60);
$secondary-darker-70: var(--secondary-darker-70);
$secondary-darker-80: var(--secondary-darker-80);
$secondary-darker-90: var(--secondary-darker-90);
$secondary-lighter-10: var(--secondary-lighter-10);
$secondary-lighter-20: var(--secondary-lighter-20);
$secondary-lighter-30: var(--secondary-lighter-30);
$secondary-lighter-40: var(--secondary-lighter-40);
$secondary-lighter-50: var(--secondary-lighter-50);
$secondary-lighter-60: var(--secondary-lighter-60);
$secondary-lighter-70: var(--secondary-lighter-70);
$secondary-lighter-80: var(--secondary-lighter-80);
$secondary-lighter-90: var(--secondary-lighter-90);
