@use "bootstrap/scss/bootstrap" as * with (
  $container-max-widths: (
    xl: 1400px,
    xxl: 1500px,
  ),

  $enable-grid-classes: true,

  $navbar-padding-x: .75rem
);
@use "@fortawesome/fontawesome-svg-core/styles.css";

@use "variables" as *;
@use "colors" as *;
@use "fonts" as *;

@use "inputs" as *;

.cursor-pointer {
  cursor: pointer;
}