@use "colors" as *;

$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$margin-xxs: 0.25rem;
$margin-xs: 0.5rem;
$margin-s: 0.75rem;
$margin: 1rem;
$margin-l: 1.25rem;
$margin-xl: 1.5rem;
$margin-xxl: 1.75rem;

$shadow: $primary-darker-80 0 15px 25px, $primary-darker-80 0 5px 10px;
$border-size: 1px;
$border-radius-size: 4px;

$font-s-size: 0.75rem;
$font-size: 1rem;
$font-l-size: 1.25rem;
$font-xl-size: 1.5rem;
$font-xxl-size: 1.75rem;

$h1-size: 1.5rem;
$h6-size: 1.1rem;

$overlay-bg: rgba($secondary, 0.125);
